.index-fade {
    position: absolute;
    background: linear-gradient(0deg, var(--white), hsla(0, 0%, 100%, 0)) !important;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.index-cover-container {
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.index-container {
    width: 100%;
    padding: 3rem 0 0 0;
    background: unset;
}

.index-header {
    font-size: 3rem;
    font-weight: bold;
}

@media (min-width: 920px) {
    .index-header {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .index-container {
        width: 100%;
        padding: 6rem 0 6rem 0;
        background: unset;
    }

    .index-background-container {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: -2;
    }

    .index-background-image {
        position: absolute;
        border-radius: 2.5%;
        right: 0;
        transform: translate(58%,-18%) rotate(-20deg);
        height: 800px;
        width: 800px;
        background-color: #292cc4;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%238e46d4'/%3E%3Cstop offset='1' stop-color='%23292cc4'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%235c39cc'/%3E%3Cstop offset='1' stop-color='%23292cc4'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(80 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-25.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-position: center;
        animation: index-background 50s ease-in-out alternate infinite;
    }

    @keyframes index-background {
        0% {
            background-size: 135%;
            filter: blur(0);
        }
        100% {
            background-size: 350%;
            filter: blur(1px);
        }
    }

    [dir="rtl"] .index-background-image {
        right: initial;
        left: -30%;
    }

    .index-cover {
        transform: translate(55%,5%) rotate(0) scale(0.7);
    }

    [dir="rtl"] .index-cover {
        transform: translate(-55%,5%) rotate(0) scale(0.7);
    }
}

@media (min-width: 1200px) {
    .index-background-image {
        transform: translate(27.5%,-18%) rotate(-20deg);
    }
    .index-cover {
        transform: translate(42%,5%) rotate(0) scale(0.7);
    }

    [dir="rtl"] .index-cover {
        transform: translate(-55%,5%) rotate(0) scale(0.7);
    }
}

@media (min-width: 1400px) {
    .index-background-image {
        transform: translate(20%,-18%) rotate(-20deg);
        height: 725px;
        width: 800px;
    }
}

.index-subheader {
    font-size: 1.3rem;
}

.index-button {
    padding: 1.15rem 3.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: calc(2 * var(--border-radius));
}

.index-icon-container {
    background: var(--primary-100);
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    color: var(--primary);
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    border-radius: calc(2 * var(--border-radius));
}

.index-icon-container-steps {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    font-size: 1.5rem;
}

.index-brand-icon-container {
    background: var(--primary-100);
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    border-radius: calc(3 * var(--border-radius));
    transform: rotate(45deg);
}

.index-brand-icon-container svg {
    width: 35px;
    height: auto;
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.index-brand-icon-container:hover {
    transform: rotate(0);
}

.index-brand-icon-container:hover svg {
    transform: rotate(0);
}

.index-register-container {
    background: var(--primary-900);
    padding: 5rem 0;
    color: var(--primary-200);
}

.index-register-container p {
    color: var(--gray-200);
}

/* Index testimonial */
.index-testimonial-avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transform: translateY(-70%);
    border: 4px solid var(--white);
    background: var(--white);
    position: absolute;
    left: 50%;
    margin-left: -52px;
}

.index-testimonial-comment {
    margin-left: 18px;
}

/* Index FAQ */
.index-faq svg {
    transition: all .15s;
    color: var(--primary-800);
}

/* Timeline */
.index-timeline {
    position: relative;
}

.index-timeline::before {
    content: '';
    position: absolute;
    border-left: 2px solid var(--gray-200);
    height: 100%;
    left: calc(57px / 2);
}
